html {
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
  letter-spacing: 0.05rem;
}

#background {
  background-image: url('images/wall-background.jpg');
  background-size: 70%;
  height: 100vh;
}

#heading {
  padding-bottom: 6vh;
  width: 50%;
  margin: auto;
}

#dropdown {
  position: relative;
  left: 25%;
}

h1 {
  margin: 0 0 1rem 0;
  padding-top: 3.5%;
  font-family: 'Faustina', serif;
  font-weight: bold;
  font-size: 2.6rem;
  text-align: center;
}

#flex {
  display: flex;
  flex-direction: row-reverse; 
  
  width: 85%;
  margin: auto;
}

.artInfo, .frame {
  flex: 1;
  height: 70vh;
}

#bottom {
  padding-top: 35vh;
}

a {
  position: relative;
  top: -40px;
  left: 82px;
  color: rgba(12, 32, 161, 1);
  text-decoration: none;
  letter-spacing: 0.001rem;
}

a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.frame {
  margin-right: 7%;
}

.art {
  display: flex;
  justify-content: center;
}

#pictureOfArt {
  height: fit-content;
  max-height: 70vh;
}


@media screen and (max-width: 1100px) {
#flex {
  display: block;
}
}
